.big-text {
  font-size: 52px;
  margin: 20px 0;
  color: #ff8c00
}

.btn-first {
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px
}

.btn-first {
  background-color: #ff8c00;
  color: #fff
}

.btn-first:hover {
  background: #ff8c00;
  border: none;
  color: #fff;
  box-shadow: 5px 5px 10px #999;
  transition: .3s
}

.banner-info {
  margin: 100px 0
}

.banner-image {
  margin: 30px 0
}

.tu_logo {
  height: 400px;
  width: 380px;
  margin: 60px 0
}